.feynman__link {
    line-height: 51px;
    font-size: 36px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 48px;
    color: #2f80ed;
}

.feynman__link:hover {
    opacity: 0.5;
}